In [16]:
import pandas as pd

df = pd.read_csv("n_movies.csv")

print(df.head())
print(df.columns)
print(df.description)

                    title         year certificate duration  \
0               Cobra Kai     (2018– )       TV-14   30 min
1               The Crown     (2016– )       TV-MA   58 min
2        Better Call Saul  (2015–2022)       TV-MA   46 min
3           Devil in Ohio       (2022)       TV-MA  356 min
4  Cyberpunk: Edgerunners     (2022– )       TV-MA   24 min

                          genre  rating  \
0         Action, Comedy, Drama     8.5
1     Biography, Drama, History     8.7
2                  Crime, Drama     8.9
3        Drama, Horror, Mystery     5.9
4  Animation, Action, Adventure     8.6

                                         description  \
0  Decades after their 1984 All Valley Karate Tou...
1  Follows the political rivalries and romance of...
2  The trials and tribulations of criminal lawyer...
3  When a psychiatrist shelters a mysterious cult...
4  A Street Kid trying to survive in a technology...

                                               stars    votes
0  ['Ralph Macchio, ', 'William Zabka, ', 'Courtn...  177,031
1  ['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...  199,885
2  ['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...  501,384
3  ['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...    9,773
4  ['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...   15,413
Index(['title', 'year', 'certificate', 'duration', 'genre', 'rating',
       'description', 'stars', 'votes'],
      dtype='object')
0       Decades after their 1984 All Valley Karate Tou...
1       Follows the political rivalries and romance of...
2       The trials and tribulations of criminal lawyer...
3       When a psychiatrist shelters a mysterious cult...
4       A Street Kid trying to survive in a technology...
                              ...
9952    After an experimental gene therapy turns them ...
9953    Sheriff Deputy Rick Grimes wakes up from a com...
9954    Follows the political rivalries and romance of...
9955    Two brothers follow their father's footsteps a...
9956    When a psychiatrist shelters a mysterious cult...
Name: description, Length: 9957, dtype: object

Handle data duplicates

In [17]:
print("Rows before removing duplicates:", df.shape[0])
df = df.drop_duplicates(subset=['title','year'], keep='first')
print("Rows after removing duplicates:", df.shape[0])

Rows before removing duplicates: 9957
Rows after removing duplicates: 8040

Identify missing data from dataset

In [18]:
print(df.isnull().sum())
(df.isnull().sum() / len(df)) * 100

title             0
year            524
certificate    3240
duration       1500
genre            72
rating         1080
description       0
stars             0
votes          1080
dtype: int64

title           0.000000
year            6.517413
certificate    40.298507
duration       18.656716
genre           0.895522
rating         13.432836
description     0.000000
stars           0.000000
votes          13.432836
dtype: float64

Cleaning Data based on percentage missing:
year (6%) = drop
genre (0.8%) = drop
certicate (40%)
rating
duration 
votes
                   = replace w UNKNOWN

In [23]:
df = df.dropna(subset=['year'])
df = df.dropna(subset=['genre'])
df['certificate'].fillna('Unknown', inplace=True)
df['rating'].fillna('Unknown', inplace=True)
df['duration'].fillna('Unknown', inplace=True)
df['votes'].fillna('Unknown', inplace=True)


print(df.isnull().sum())

title          0
year           0
certificate    0
duration       0
genre          0
rating         0
description    0
stars          0
votes          0
dtype: int64

In [24]:
df.dtypes

title          object
year           object
certificate    object
duration       object
genre          object
rating         object
description    object
stars          object
votes          object
dtype: object

In [26]:
df['certificate'].value_counts()

Unknown      2719
TV-MA        1659
TV-14         845
R             470
Not Rated     466
TV-PG         313
PG-13         279
TV-Y7         164
PG            159
TV-Y          124
TV-G          106
Unrated        63
G              43
TV-Y7-FV       28
Approved       26
Passed          6
NC-17           2
MA-17           1
12              1
M               1
E10+            1
Name: certificate, dtype: int64

In [27]:
df['rating'].value_counts()

Unknown    528
6.8        257
6.5        257
6.6        254
7.1        251
          ...
2.0          2
9.6          1
9.5          1
1.7          1
2.4          1
Name: rating, Length: 79, dtype: int64